.sns-inner{
    position: relative;
    margin-top: 30px;
    height: 80px;
    background: #d71609;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    .link-sns{
        display: flex;
        &.margin{
            margin-right: 10px;
        }
    }
}

.info-inner{
    position: relative;
    padding: 35px 20px 30px;
    background: #aaa;
    color: #fff;
    
    .cs-area{
        font-family: $font-en;
        position: relative;
        left: 50%; transform: translateX(-50%);
        margin-bottom: 43px;
        padding: 12px 0;
        width: 200px; height: 100px;
        border: 2px solid rgba(255,255,255,0.5);
        text-align: center;
        .title{
            font-size: 16px;
            font-weight: 500;
        }
        .desc{
            margin: 5px 0 10px;
            font-size: 12px;
            line-height: 18px;
        }
        .call{
            font-size: 20px;
            font-weight: 500;
        }
    }
    
    .addr-area{
        position: relative;
        display: flex;
        flex-direction: column;

        .logo{
            position: relative;
            width: 135px; height: 17px;
        }
        .addr-wrap{
            position: relative;
            margin-top: 20px;
            font-size: 12px;
            line-height: 18px;
            display: block;
            .addr{
                .bar{
                    display: inline-block;
                    vertical-align: top;
                    width: 1px;
                    height: 11px;
                    background: #fff;
                    margin: 3px 8px;
                }
            }
            .copy{
                margin-top: 16px;
            }
            
        }
    }
}
